body {
  background-color: rgb(235, 227, 190);
  margin: 40px;
  font-family: "New Rocker", system-ui; 
  font-size: 16px;
  text-decoration: none;
   margin: 0px;
}
      header {
          margin: bottom: 40px;
      }

h1 {
margin: 20px;
text-align: center; 
}
h2 {
  margin: 20px;
 
}
h3 {
  margin: 20px;
  text-align: center;
}
h4 {
  margin: 20px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}

p {
  margin: 20px;
  text-align: center;
}

li {
  margin: 20px;
  text-align: center;
}
.navbar ul{
  list-style: none;
  baseline-shift: black;
  background-color: rgb(68, 51, 51);
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-align: center;
}

.navbar a:hover{
  color: rgb(134, 38, 38);
}
.navbar li{
  float: left;
}














